<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Análise de Dados: COVID-19 Dashboard
Caderno de **Exercícios**<br> 
Aluno [Maycon Morais](https://www.linkedin.com/in/maycon-morais-0039b11b4/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução;</li>
  <li>Análise Exploratória de Dados;</li>
  <li>Visualização Interativa de Dados;</li>
  <li>Storytelling.</li>
</ol>

---

## 1\. Introdução

### **1.1. TLDR**

 - **Dashboard**: 
  - Google Data Studio [link](https://datastudio.google.com/u/0/reporting/6fd76fe8-c87b-45eb-8a2c-979724779fdc/page/mep5C)
 - **Processamento**:
  - Kaggle Notebook [link](https://www.kaggle.com/code/mayconmorais23/pandemia-da-covid-19-no-brasil). 
 - **Fontes**: 
  - Casos pela universidade John Hopkins ([link](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports));
  - Vacinação pela universidade de Oxford ([link](https://covid.ourworldindata.org/data/owid-covid-data.csv)).

### **1.2. Pandemia Coronavírus 2019**

> A COVID-19 é uma infecção respiratória aguda causada pelo coronavírus SARS-CoV-2, potencialmente grave, de elevada transmissibilidade e de distribuição global. Fonte: Governo brasileiro ([link](https://www.gov.br/saude/pt-br/coronavirus/o-que-e-o-coronavirus)).

A disponibilidade de dados sobre a evolução da pandemia no tempo em uma determinada região geográfica é fundamental para o seu combate! Este projeto busca construir um dashboard de dados para exploração e visualização interativa de dados sobre o avanço de casos e da vacinação do Brasil. O processamento de dados está neste `link` e o dashboard, neste `link`.

### **1.3. Dados**

Os dados sobre **casos da COVID-19** são compilados pelo centro de ciência de sistemas e engenharia da universidade americana **John Hopkins** ([link](https://www.jhu.edu)). Os dados são atualizados diariamente deste janeiro de 2020 com uma granularidade temporal de dias e geográfica de regiões de países (estados, condados, etc.). O website do projeto pode ser acessado neste [link](https://systems.jhu.edu/research/public-health/ncov/) enquanto os dados, neste [link](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports). Abaixo estão descritos os dados derivados do seu processamento.

 - **date**: data de referência;
 - **state**: estado;
 - **country**: país; 
 - **population**: população estimada;
 - **confirmed**: número acumulado de infectados;
 - **confirmed_1d**: número diário de infectados;
 - **confirmed_moving_avg_7d**: média móvel de 7 dias do número diário de infectados;
 - **confirmed_moving_avg_7d_rate_14d**: média móvel de 7 dias dividido pela média móvel de 7 dias de 14 dias atrás;
 - **deaths**: número acumulado de mortos;
 - **deaths_1d**: número diário de mortos;
 - **deaths_moving_avg_7d**: média móvel de 7 dias do número diário de mortos;
 - **deaths_moving_avg_7d**: média móvel de 7 dias dividido pela média móvel de 7 dias de 14 dias atrás;
 - **month**: mês de referência;
 - **year**: ano de referência.

Os dados sobre **vacinação da COVID-19** são compilados pelo projeto Nosso Mundo em Dados (*Our World in Data* ou OWID) da universidade britânica de **Oxford** ([link](https://www.ox.ac.uk)). Os dados são **atualizados diariamente** deste janeiro de 2020 com uma **granularidade temporal de dias e geográfica de países**. O website do projeto pode ser acessado neste [link](https://ourworldindata.org) enquanto os dados, neste [link](https://covid.ourworldindata.org/data/owid-covid-data.csv). Abaixo estão descritos os dados derivados do seu processamento.

 - **date**: data de referência;
 - **country**: país;
 - **population**: população estimada;
 - **total**: número acumulado de doses administradas;
 - **one_shot**: número acumulado de pessoas com uma dose;
 - **one_shot_perc**: número acumulado relativo de pessoas com uma dose;
 - **two_shots**: número acumulado de pessoas com duas doses;
 - **two_shot_perc**: número acumulado relativo de pessoas com duas doses;
 - **three_shots**: número acumulado de pessoas com três doses;
 - **three_shot_perc**: número acumulado relativo de pessoas com três doses;
 - **month**: mês de referência;
 - **year**: ano de referência.

## 2\. Análise Exploratória de Dados

Nesta sessão vamos utilizar os seguintes pacotes Python para processar os dados bruto em um formato adequado para um painel para exploração interativa de dados.

In [ ]:
import math
from typing import Iterator
from datetime import datetime, timedelta

import numpy as np
import pandas as pd

### **2.1. Casos**

Vamos processar os dados de **casos** da universidade John Hopkins.

#### **2.1.1. Extração**

O dado está compilado em um arquivo por dia, exemplo para 2021/12/01.

In [ ]:
cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-12-2021.csv', sep=',')

In [ ]:
cases.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-13 05:22:15,33.93911,67.709953,53584,2301,44608,6675,Afghanistan,137.647787,4.294192
1,NaN,NaN,NaN,Albania,2021-01-13 05:22:15,41.15330,20.168300,64627,1252,38421,24954,Albania,2245.708527,1.937271
2,NaN,NaN,NaN,Algeria,2021-01-13 05:22:15,28.03390,1.659600,102641,2816,69608,30217,Algeria,234.067409,2.743543
3,NaN,NaN,NaN,Andorra,2021-01-13 05:22:15,42.50630,1.521800,8682,86,7930,666,Andorra,11236.653077,0.990555
4,NaN,NaN,NaN,Angola,2021-01-13 05:22:15,-11.20270,17.873900,18343,422,15512,2409,Angola,55.811022,2.300605

Portanto, precisaremos iterar dentro de um intervalo de tempo definido para extraí-lo.

In [ ]:
def date_range(start_date: datetime, end_date: datetime) -> Iterator[datetime]:
  date_range_days: int = (end_date - start_date).days
  for lag in range(date_range_days):
    yield start_date + timedelta(lag)

In [ ]:
start_date = datetime(2021,  1,  1)
end_date   = datetime(2021, 12, 31)

De maneira iterativa, vamos selecionar as colunas de interesse e as linhas referentes ao Brasil.

In [ ]:
cases = None
cases_is_empty = True

for date in date_range(start_date=start_date, end_date=end_date):

  date_str = date.strftime('%m-%d-%Y')
  data_source_url = f'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{date_str}.csv'

  case = pd.read_csv(data_source_url, sep=',')

  case = case.drop(['FIPS', 'Admin2', 'Last_Update', 'Lat', 'Long_', 'Recovered', 'Active', 'Combined_Key', 'Case_Fatality_Ratio'], axis=1)
  case = case.query('Country_Region == "Brazil"').reset_index(drop=True)
  case['Date'] = pd.to_datetime(date.strftime('%Y-%m-%d'))

  if cases_is_empty:
    cases = case
    cases_is_empty = False
  else:
    cases = cases.append(case, ignore_index=True)

In [ ]:
cases.query('Province_State == "Sao Paulo"').head()

    Province_State Country_Region  Confirmed  Deaths  Incident_Rate       Date
24       Sao Paulo         Brazil    1466191   46775    3192.990778 2021-01-01
51       Sao Paulo         Brazil    1467953   46808    3196.827966 2021-01-02
78       Sao Paulo         Brazil    1471422   46845    3204.382565 2021-01-03
105      Sao Paulo         Brazil    1473670   46888    3209.278136 2021-01-04
132      Sao Paulo         Brazil    1486551   47222    3237.329676 2021-01-05

#### **2.1.2. Wrangling**

Vamos manipular os dados para o dashboard. O foco é em garantir uma boa granularidade e qualidade da base de dados.

In [ ]:
cases.head()

  Province_State Country_Region  Confirmed  Deaths  Incident_Rate       Date
0           Acre         Brazil      41689     796    4726.992352 2021-01-01
1        Alagoas         Brazil     105091    2496    3148.928928 2021-01-01
2          Amapa         Brazil      68361     926    8083.066602 2021-01-01
3       Amazonas         Brazil     201574    5295    4863.536793 2021-01-01
4          Bahia         Brazil     494684    9159    3326.039611 2021-01-01

In [ ]:
cases.shape

(9828, 6)

In [ ]:
cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9828 entries, 0 to 9827
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province_State  9828 non-null   object
 1   Country_Region  9828 non-null   object
 2   Confirmed       9828 non-null   int64
 3   Deaths          9828 non-null   int64
 4   Incident_Rate   9828 non-null   float64
 5   Date            9828 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 460.8+ KB

Começamos com o nome das colunas.

In [ ]:
cases = cases.rename(
  columns={
    'Province_State': 'state',
    'Country_Region': 'country'
  }
)

for col in cases.columns:
  cases = cases.rename(columns={col: col.lower()})

Ajustamos o nome dos estados.

In [ ]:
states_map = {
    'Amapa': 'Amapá',
    'Ceara': 'Ceará',
    'Espirito Santo': 'Espírito Santo',
    'Goias': 'Goiás',
    'Para': 'Pará',
    'Paraiba': 'Paraíba',
    'Parana': 'Paraná',
    'Piaui': 'Piauí',
    'Rondonia': 'Rondônia',
    'Sao Paulo': 'São Paulo'
}

cases['state'] = cases['state'].apply(lambda state: states_map.get(state) if state in states_map.keys() else state)

Vamos então computar novas colunas para enriquecer a base de dados.

 - Chaves temporais:

In [ ]:
cases['month'] = cases['date'].apply(lambda date: date.strftime('%Y-%m'))
cases['year']  = cases['date'].apply(lambda date: date.strftime('%Y'))

 - População estimada do estado:

In [ ]:
cases['population'] = round(100000 * (cases['confirmed'] / cases['incident_rate']))
cases = cases.drop('incident_rate', axis=1)

 - Número, média móvel (7 dias) e estabilidade (14 dias) de casos e mortes por estado:

| 1 | 2 | 3 | 4 | 5 | 6 | <font color='red'>7</font> | <font color='green'>8</font> | 9 | 10 | 11 | 12 | 13 | <font color='blue'>14<font color='red'> | 15 | 16 | 17 | 18 | 19 | 20 | 21 |
| - | - | - | - | - | - | - | - | - | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- |
| <font color='red'>D-6</font> | <font color='red'>D-5</font> | <font color='red'>D-4</font> | <font color='red'>D-3</font> | <font color='red'>D-2</font> | <font color='red'>D-1</font> | <font color='red'>D0</font> | | | | | | | | | | | | | | |
| D-7 | <font color='green'>D-6</font> | <font color='green'>D-5</font> | <font color='green'>D-4</font> | <font color='green'>D-3</font> | <font color='green'>D-2</font> | <font color='green'>D-1</font> | <font color='green'>D0</font> | | | | | | | | | | | | | |
| D-13 | D-12 | D-11 | D-10 | D-9 | D-8 | D-7 | <font color='blue'>D-6</font> | <font color='blue'>D-5</font> | <font color='blue'>D-4</font> | <font color='blue'>D-3</font> | <font color='blue'>D-2</font> | <font color='blue'>D-1</font> | <font color='blue'>D0</font> | | | | | | | |

In [ ]:
cases_ = None
cases_is_empty = True

def get_trend(rate: float) -> str:

  if np.isnan(rate):
    return np.NaN

  if rate < 0.75:
    status = 'downward'
  elif rate > 1.15:
    status = 'upward'
  else:
    status = 'stable'

  return status
  

for state in cases['state'].drop_duplicates():

  cases_per_state = cases.query(f'state == "{state}"').reset_index(drop=True)
  cases_per_state = cases_per_state.sort_values(by=['date'])

  cases_per_state['confirmed_1d'] = cases_per_state['confirmed'].diff(periods=1)
  cases_per_state['confirmed_moving_avg_7d'] = np.ceil(cases_per_state['confirmed_1d'].rolling(window=7).mean())
  cases_per_state['confirmed_moving_avg_7d_rate_14d'] = cases_per_state['confirmed_moving_avg_7d']/cases_per_state['confirmed_moving_avg_7d'].shift(periods=14)
  cases_per_state['confirmed_trend'] = cases_per_state['confirmed_moving_avg_7d_rate_14d'].apply(get_trend)

  cases_per_state['deaths_1d'] = cases_per_state['deaths'].diff(periods=1)
  cases_per_state['deaths_moving_avg_7d'] = np.ceil(cases_per_state['deaths_1d'].rolling(window=7).mean())
  cases_per_state['deaths_moving_avg_7d_rate_14d'] = cases_per_state['deaths_moving_avg_7d']/cases_per_state['deaths_moving_avg_7d'].shift(periods=14)
  cases_per_state['deaths_trend'] = cases_per_state['deaths_moving_avg_7d_rate_14d'].apply(get_trend)

  if cases_is_empty:
    cases_ = cases_per_state
    cases_is_empty = False
  else:
    cases_ = cases_.append(cases_per_state, ignore_index=True)

cases = cases_
cases_ = None

Garantir o tipo do dado é fundamental para consistência da base de dados. Vamos fazer o *type casting* das colunas.

In [ ]:
cases['population'] = cases['population'].astype('Int64')
cases['confirmed_1d'] = cases['confirmed_1d'].astype('Int64')
cases['confirmed_moving_avg_7d'] = cases['confirmed_moving_avg_7d'].astype('Int64')
cases['deaths_1d'] = cases['deaths_1d'].astype('Int64')
cases['deaths_moving_avg_7d'] = cases['deaths_moving_avg_7d'].astype('Int64')

Por fim, vamos reorganizar as colunas e conferir o resultado final.

In [ ]:
cases = cases[['date', 'country', 'state', 'population', 'confirmed', 'confirmed_1d', 'confirmed_moving_avg_7d', 'confirmed_moving_avg_7d_rate_14d', 'confirmed_trend', 'deaths', 'deaths_1d', 'deaths_moving_avg_7d', 'deaths_moving_avg_7d_rate_14d', 'deaths_trend', 'month', 'year']]

In [ ]:
cases.tail(n=50)

,date,country,state,population,confirmed,confirmed_1d,confirmed_moving_avg_7d,confirmed_moving_avg_7d_rate_14d,confirmed_trend,deaths,deaths_1d,deaths_moving_avg_7d,deaths_moving_avg_7d_rate_14d,deaths_trend,month,year
9778,2021-11-11,Brazil,Tocantins,1574172,230281,191,143,1.075188,stable,3897,1,2,0.666667,downward,2021-11,2021
9779,2021-11-12,Brazil,Tocantins,1573692,230402,121,136,0.992701,stable,3898,1,2,0.666667,downward,2021-11,2021
9780,2021-11-13,Brazil,Tocantins,1572866,230402,0,136,0.992701,stable,3898,0,2,0.666667,downward,2021-11,2021
9781,2021-11-14,Brazil,Tocantins,1573173,230447,45,124,0.932331,stable,3899,1,2,0.666667,downward,2021-11,2021
9782,2021-11-15,Brazil,Tocantins,1573276,230507,60,112,0.933333,stable,3900,1,2,1.000000,stable,2021-11,2021
9783,2021-11-16,Brazil,Tocantins,1574360,230726,219,114,1.140000,stable,3902,2,2,1.000000,stable,2021-11,2021
9784,2021-11-17,Brazil,Tocantins,1574386,230949,223,123,1.268041,upward,3903,1,1,0.500000,downward,2021-11,2021
9785,2021-11-18,Brazil,Tocantins,1574296,231159,210,126,1.105263,stable,3906,3,2,1.000000,stable,2021-11,2021
9786,2021-11-19,Brazil,Tocantins,1573771,231292,133,128,1.153153,upward,3908,2,2,1.000000,stable,2021-11,2021
9787,2021-11-20,Brazil,Tocantins,1572866,231292,0,128,1.153153,upward,3908,0,2,1.000000,stable,2021-11,2021
9788,2021-11-21,Brazil,Tocantins,1573342,231362,70,131,1.091667,stable,3910,2,2,1.000000,stable,2021-11,2021
9789,2021-11-22,Brazil,Tocantins,1574219,231561,199,151,1.179688,upward,3912,2,2,1.000000,stable,2021-11,2021
9790,2021-11-23,Brazil,Tocantins,1574354,231780,219,151,1.000000,stable,3913,1,2,1.000000,stable,2021-11,2021
9791,2021-11-24,Brazil,Tocantins,1574440,232012,232,152,1.020134,stable,3914,1,2,1.000000,stable,2021-11,2021
9792,2021-11-25,Brazil,Tocantins,1574079,232191,179,148,1.034965,stable,3915,1,2,1.000000,stable,2021-11,2021
9793,2021-11-26,Brazil,Tocantins,1573841,232335,144,149,1.095588,stable,3916,1,2,1.000000,stable,2021-11,2021
9794,2021-11-27,Brazil,Tocantins,1572866,232335,0,149,1.095588,stable,3916,0,2,1.000000,stable,2021-11,2021
9795,2021-11-28,Brazil,Tocantins,1573387,232412,77,150,1.209677,upward,3917,1,1,0.500000,downward,2021-11,2021
9796,2021-11-29,Brazil,Tocantins,1573969,232575,163,145,1.294643,upward,3918,1,1,0.500000,downward,2021-11,2021
9797,2021-11-30,Brazil,Tocantins,1574442,232808,233,147,1.289474,upward,3919,1,1,0.500000,downward,2021-11,2021
9798,2021-12-01,Brazil,Tocantins,1573792,232945,137,134,1.089431,stable,3920,1,1,1.000000,stable,2021-12,2021
9799,2021-12-02,Brazil,Tocantins,1574189,233141,196,136,1.079365,stable,3921,1,1,0.500000,downward,2021-12,2021
9800,2021-12-03,Brazil,Tocantins,1574289,233352,211,146,1.140625,stable,3922,1,1,0.500000,downward,2021-12,2021
9801,2021-12-04,Brazil,Tocantins,1572866,233352,0,146,1.140625,stable,3922,0,1,0.500000,downward,2021-12,2021
9802,2021-12-05,Brazil,Tocantins,1573554,233454,102,149,1.137405,stable,3923,1,1,0.500000,downward,2021-12,2021
9803,2021-12-06,Brazil,Tocantins,1573264,233513,59,134,0.887417,stable,3925,2,1,0.500000,downward,2021-12,2021
9804,2021-12-07,Brazil,Tocantins,1574893,233814,301,144,0.953642,stable,3926,1,1,0.500000,downward,2021-12,2021
9805,2021-12-08,Brazil,Tocantins,1574877,234113,299,167,1.098684,stable,3927,1,1,0.500000,downward,2021-12,2021
9806,2021-12-09,Brazil,Tocantins,1572866,234113,0,139,0.939189,stable,3927,0,1,0.500000,downward,2021-12,2021
9807,2021-12-10,Brazil,Tocantins,1572866,234113,0,109,0.731544,downward,3927,0,1,0.500000,downward,2021-12,2021
9808,2021-12-11,Brazil,Tocantins,1572866,234113,0,109,0.731544,downward,3927,0,1,0.500000,downward,2021-12,2021
9809,2021-12-12,Brazil,Tocantins,1572866,234113,0,95,0.633333,downward,3927,0,1,1.000000,stable,2021-12,2021
9810,2021-12-13,Brazil,Tocantins,1572866,234113,0,86,0.593103,downward,3927,0,1,1.000000,stable,2021-12,2021
9811,2021-12-14,Brazil,Tocantins,1572866,234113,0,43,0.292517,downward,3927,0,1,1.000000,stable,2021-12,2021
9812,2021-12-15,Brazil,Tocantins,1572866,234113,0,0,0.000000,downward,3927,0,0,0.000000,downward,2021-12,2021
9813,2021-12-16,Brazil,Tocantins,1572866,234113,0,0,0.000000,downward,3927,0,0,0.000000,downward,2021-12,2021
9814,2021-12-17,Brazil,Tocantins,1572866,234113,0,0,0.000000,downward,3927,0,0,0.000000,downward,2021-12,2021
9815,2021-12-18,Brazil,Tocantins,1572866,234113,0,0,0.000000,downward,3927,0,0,0.000000,downward,2021-12,2021
9816,2021-12-19,Brazil,Tocantins,1572866,234113,0,0,0.000000,downward,3927,0,0,0.000000,downward,2021-12,2021
9817,2021-12-20,Brazil,Tocantins,1572866,234113,0,0,0.000000,downward,3927,0,0,0.000000,downward,2021-12,2021
9818,2021-12-21,Brazil,Tocantins,1572866,234113,0,0,0.000000,downward,3927,0,0,0.000000,downward,2021-12,2021
9819,2021-12-22,Brazil,Tocantins,1572866,234113,0,0,0.000000,downward,3927,0,0,0.000000,downward,2021-12,2021
9820,2021-12-23,Brazil,Tocantins,1572866,234113,0,0,0.000000,downward,3927,0,0,0.000000,downward,2021-12,2021
9821,2021-12-24,Brazil,Tocantins,1572866,234113,0,0,0.000000,downward,3927,0,0,0.000000,downward,2021-12,2021
9822,2021-12-25,Brazil,Tocantins,1572866,234113,0,0,0.000000,downward,3927,0,0,0.000000,downward,2021-12,2021
9823,2021-12-26,Brazil,Tocantins,1572866,234113,0,0,0.000000,downward,3927,0,0,0.000000,downward,2021-12,2021
9824,2021-12-27,Brazil,Tocantins,1572866,234113,0,0,0.000000,downward,3927,0,0,0.000000,downward,2021-12,2021
9825,2021-12-28,Brazil,Tocantins,1572866,234964,851,122,2.837209,upward,3933,6,1,1.000000,stable,2021-12,2021
9826,2021-12-29,Brazil,Tocantins,1572866,235340,376,176,inf,upward,3936,3,2,inf,upward,2021-12,2021
9827,2021-12-30,Brazil,Tocantins,1572866,235558,218,207,inf,upward,3939,3,2,inf,upward,2021-12,2021

In [ ]:
cases.shape

(9828, 16)

In [ ]:
cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9828 entries, 0 to 9827
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              9828 non-null   datetime64[ns]
 1   country                           9828 non-null   object
 2   state                             9828 non-null   object
 3   population                        9828 non-null   Int64
 4   confirmed                         9828 non-null   int64
 5   confirmed_1d                      9801 non-null   Int64
 6   confirmed_moving_avg_7d           9639 non-null   Int64
 7   confirmed_moving_avg_7d_rate_14d  9261 non-null   float64
 8   confirmed_trend                   9261 non-null   object
 9   deaths                            9828 non-null   int64
 10  deaths_1d                         9801 non-null   Int64
 11  deaths_moving_avg_7d              9639 non-null   Int64
 12  deaths_moving_avg_7d_rate_14d     9244 non-null   float64
 13  deaths_trend                      9244 non-null   object
 14  month                             9828 non-null   object
 15  year                              9828 non-null   object
dtypes: Int64(5), datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 1.2+ MB

#### **2.1.3. Carregamento**

Com os dados manipulados, vamos persisti-lo em disco, fazer o seu download e carrega-lo no Google Data Studio.

In [ ]:
cases.to_csv('./covid-cases.csv', sep=',', index=False)

### **2.2. Vacinação**

Vamos processar os dados de **vacinação** da universidade de Oxford.

#### **2.2.1. Extração**

Os dados estão compilados em um único arquivo.

In [ ]:
vaccines = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv', sep=',', parse_dates=[3], infer_datetime_format=True)

In [ ]:
vaccines.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

Vamos selecionar as colunas de interesse e as linhas referentes ao Brasil.

In [ ]:
vaccines = vaccines.query('location == "Brazil"').reset_index(drop=True)
vaccines = vaccines[['location', 'population', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'date']]

In [ ]:
vaccines.tail()

,location,population,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,date
974,Brazil,215313504.0,473102633.0,187385670.0,172339873.0,118811893.0,2022-10-27
975,Brazil,215313504.0,473102959.0,187385670.0,172340199.0,118811893.0,2022-10-28
976,Brazil,215313504.0,NaN,NaN,NaN,NaN,2022-10-29
977,Brazil,215313504.0,NaN,NaN,NaN,NaN,2022-10-30
978,Brazil,215313504.0,473103001.0,187385670.0,172340241.0,118811893.0,2022-10-31

#### **2.2.2. Wrangling**

Vamos manipular os dados para o dashboard. O foco é em garantir uma boa granularidade e qualidade da base de dados.

In [ ]:
vaccines.head()

,location,population,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,date
0,Brazil,215313504.0,NaN,NaN,NaN,NaN,2020-02-26
1,Brazil,215313504.0,NaN,NaN,NaN,NaN,2020-02-27
2,Brazil,215313504.0,NaN,NaN,NaN,NaN,2020-02-28
3,Brazil,215313504.0,NaN,NaN,NaN,NaN,2020-02-29
4,Brazil,215313504.0,NaN,NaN,NaN,NaN,2020-03-01

In [ ]:
vaccines.shape

(979, 7)

In [ ]:
vaccines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   location                 979 non-null    object
 1   population               979 non-null    float64
 2   total_vaccinations       593 non-null    float64
 3   people_vaccinated        589 non-null    float64
 4   people_fully_vaccinated  573 non-null    float64
 5   total_boosters           363 non-null    float64
 6   date                     979 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 53.7+ KB

Vamos começar tratando os dados faltantes, a estratégia será a de preencher os buracos com o valor anterior válido mais próximo.

In [ ]:
vaccines = vaccines.fillna(method='ffill')

Vamos também filtrar a base de dados de acordo com a coluna `date` para garantir que ambas as bases de dados tratam do mesmo período de tempo.

In [ ]:
vaccines = vaccines[(vaccines['date'] >= '2021-01-01') & (vaccines['date'] <= '2021-12-31')].reset_index(drop=True)

Agora, vamos alterar o nome das colunas.

In [ ]:
vaccines = vaccines.rename(
  columns={
    'location': 'country',
    'total_vaccinations': 'total',
    'people_vaccinated': 'one_shot',
    'people_fully_vaccinated': 'two_shots',
    'total_boosters': 'three_shots',
  }
)

Vamos então computar novas colunas para enriquecer a base de dados.

 - Chaves temporais:

In [ ]:
vaccines['month'] = vaccines['date'].apply(lambda date: date.strftime('%Y-%m'))
vaccines['year']  = vaccines['date'].apply(lambda date: date.strftime('%Y'))

 - Dados relativos:

In [ ]:
vaccines['one_shot_perc'] = round(vaccines['one_shot'] / vaccines['population'], 4)
vaccines['two_shots_perc'] = round(vaccines['two_shots'] / vaccines['population'], 4)
vaccines['three_shots_perc'] = round(vaccines['three_shots'] / vaccines['population'], 4)

Garantir o tipo do dado é fundamental para consistência da base de dados. Vamos fazer o *type casting* das colunas.

In [ ]:
vaccines['population'] = vaccines['population'].astype('Int64')
vaccines['total'] = vaccines['total'].astype('Int64')
vaccines['one_shot'] = vaccines['one_shot'].astype('Int64')
vaccines['two_shots'] = vaccines['two_shots'].astype('Int64')
vaccines['three_shots'] = vaccines['three_shots'].astype('Int64')

Por fim, vamos reorganizar as colunas e conferir o resultado final.

In [ ]:
vaccines = vaccines[['date', 'country', 'population', 'total', 'one_shot', 'one_shot_perc', 'two_shots', 'two_shots_perc', 'three_shots', 'three_shots_perc', 'month', 'year']]

In [ ]:
vaccines.tail()

,date,country,population,total,one_shot,one_shot_perc,two_shots,two_shots_perc,three_shots,three_shots_perc,month,year
360,2021-12-27,Brazil,215313504,329011365,165952037,0.7707,142764283,0.6631,25218893,0.1171,2021-12,2021
361,2021-12-28,Brazil,215313504,329861730,166062249,0.7713,142965728,0.6640,25758909,0.1196,2021-12,2021
362,2021-12-29,Brazil,215313504,330718457,166143380,0.7716,143282084,0.6655,26219623,0.1218,2021-12,2021
363,2021-12-30,Brazil,215313504,331164041,166185628,0.7718,143398692,0.6660,26507937,0.1231,2021-12,2021
364,2021-12-31,Brazil,215313504,331273910,166195505,0.7719,143436012,0.6662,26571077,0.1234,2021-12,2021

In [ ]:
vaccines.shape

(365, 12)

In [ ]:
vaccines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              365 non-null    datetime64[ns]
 1   country           365 non-null    object
 2   population        365 non-null    Int64
 3   total             349 non-null    Int64
 4   one_shot          349 non-null    Int64
 5   one_shot_perc     349 non-null    float64
 6   two_shots         330 non-null    Int64
 7   two_shots_perc    330 non-null    float64
 8   three_shots       121 non-null    Int64
 9   three_shots_perc  121 non-null    float64
 10  month             365 non-null    object
 11  year              365 non-null    object
dtypes: Int64(5), datetime64[ns](1), float64(3), object(3)
memory usage: 36.1+ KB

#### **2.2.3. Carregamento**

Com os dados manipulados, vamos persisti-lo em disco, fazer o seu download e carrega-lo no Google Data Studio.

In [ ]:
vaccines.to_csv('./covid-vaccines.csv', sep=',', index=False)

## 3\. Exploração Interativa de Dados

### **3.1. KPIs**

O dashboard de dados contem os seguintes indicadores chaves de desempenho (*key performance indicator* ou KPI) consolidados:

1. Casos e mortes nas 24 horas;
1. Média móvel (7 dias) de casos e mortes;
1. Tendência de casos e mortes;
1. Proporção de vacinados com 1ª, 2ª e 3ª doses.

### **3.2. EDA**

O dashboard de dados contem os seguintes gráficos para a análise exploratória de dados (*exploratory data analysis*
ou EDA) interativa:

1. Distribuição do números de casos e mortes ao longo do tempo;
1. Distribuição da média móvel (7 dias) do números de casos e mortes ao longo do tempo;
1. Distribuição geográfica dos casos por estado por dia.

## 4\. Storytelling